<div class="card mb-5 col-md-12">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
      <h3 class="mt-10">Comapny</h3>
    </div>
  


    <div id="kt_account_profile_details" class="collapse show">
      <form novalidate="" class="form">
  
        <div class="row card-body border-top p-9">
  
  
          <div class="col-md-4">
  
  
            <div class="main">
          
  
              <div class="mt-1">
    
    
           
    
                <div class="d-flex flex-column fv-row ">
    
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Company Id</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    
                     
                      </i>
                  </label>
                  <input type="number" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Comapny ID"
                    name="target_title" style="width: 300px;">
              
                </div>
    
              </div>
    
    
    
    
              <div class="row mt-2 ">
    
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Name</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    
                     
                      </i>
                  </label>
                  <!--end::Label-->
    
                  <div class="d-flex mt-2">
                    <input type="name" class=" form-control form-control-sm form-control-solid" placeholder="Enter Target Title" name="target_title" style="width: 300px;">
                  
                  </div>
        
              
                </div>     
              </div>
    
    
              
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Adddress</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="name" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Adddress" name="target_title" style="width: 300px;">
                   
                  </div>
        
              
                </div>
    
    
              </div>
  
  
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Contact</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="number" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Contact" name="target_title" style="width: 300px;">
                   
                  </div>
        
              
                </div>
    
    
              </div>
    
  
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">fax</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="number" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="fax" name="target_title" style="width: 300px;">
                   
                  </div>
        
              
                </div>
    
    
              </div>
    
    
    
    
    
          
    
    
    
            </div>
    
          </div>
  
  
  
          <div class="col-md-4">
  
  
            <div class="main">
          
  
              <div class="mt-1">
    
    
           
    
                <div class="d-flex flex-column fv-row ">
    
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Gst No</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    
                     
                      </i>
                  </label>
                  <input type="text" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="GST NO"
                    name="target_title" style="width: 300px;">
              
                </div>
    
              </div>
  
                <div class="row mt-2">
    
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> NTN</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    
                     
                      </i>
                  </label>
                  <!--end::Label-->
    
                  <div class="d-flex mt-2">
                    <input type="name" class=" form-control form-control-sm form-control-solid" placeholder="NTN" name="target_title" style="width: 300px;">
                 
                  </div>
        
              
                </div>     
              </div>
    
    
              
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> Currency</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <!-- <input type="name" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Enter Target Title" name="target_title" style="width: 300px;"> -->
                    <select class="form-select form-select-solid form-select-sm arrow-up" name="language" style="width: 300px;">
                      <option value="">Select Currency...</option>
                      <option value="pkr">PKR</option>
                      <option value="Inr">INR</option>
                      <option value="usd">USD</option>
                      <option value="eur">EUR</option>
                      <option value="gbp">GBP</option>
                      <option value="jpy">JPY</option>
                    </select>
                  </div>
        
              
                </div>
    
    
              </div>
              
  
                    
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> Email</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="email" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Email" name="target_title" style="width: 300px;">
  
                  </div>
        
              
                </div>
    
    
              </div>
  
  
                         
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> Is Sales Tax</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input
                  class="form-check-input mt-1 rounded-0"
                  type="checkbox"
                  id="allowmarketing"
                />
  
                  </div>
        
              
                </div>
    
    
              </div>
  
  
  
                 
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> loan Method</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <!-- <input type="name" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Enter Target Title" name="target_title" style="width: 300px;"> -->
                    <select class="form-select form-select-solid form-select-sm arrow-up" name="language" style="width: 300px;">
                      <option value="">Select Currency...</option>
                      <option value="pkr">PKR</option>
                      <option value="Inr">INR</option>
                      <option value="usd">USD</option>
                      <option value="eur">EUR</option>
                      <option value="gbp">GBP</option>
                      <option value="jpy">JPY</option>
                    </select>
                  </div>
        
              
                </div>
    
    
              </div>
    
    
    
    
    
          
    
    
    
            </div>
    
          </div>
  
  
          <div class="col-md-2">
            
            <div class="notice bg-light-primary rounded border-primary border border-dashed p-6">
              
              
                 <img src="../../../../../../assets/media/avatars/150-1.jpg" style="height:100px; width: 100px;" />
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="fileInput">
         
            </div>
            
  
          </div>
  
  
          <div class="row mt-2">
    
            <div class="d-flex flex-column col-md-10 fv-row ">
              <!--begin::Label-->
              <label class="d-flex align-items-center fs-7 fw-semibold ">
                <span class="required"> Additional information</span>
  
               
                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                
                 
                  </i>
              </label>
              <!--end::Label-->
  
              <div class="d-flex mt-2">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
    
          
            </div>     
          </div>
  
          <div>
  
          </div>
  
  
  
  
  
  
  
        </div>
  
  
  
  
  
  
  
  
        <div class="mb-5">
          <button type="button" class="btn btn-primary ms-12" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">Save</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
  
  
  
          <button type="button" class="btn btn-danger ms-1" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">CLose</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
        </div>
  
  
  
  
      </form>
    </div>
  
  
  
  </div>