<div class="card mb-5 col-md-12">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
      <h3 class="mt-10">Member</h3>
    </div>
  
  
  
    <div id="kt_account_profile_details" class="collapse show">
      <form novalidate="" class="form">
        <div class="card-body border-top p-9">
  
  
  
  
  
          <div class="card m-2">
          
  
            <div class="mt-1">
  
  
         
  
              <div class="d-flex flex-column fv-row ">
  
                <label class="d-flex align-items-center fs-7 fw-semibold ">
                  <span class="required"> Record# Auto Gen</span>
  
                 
                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                  
                   
                    </i>
                </label>
                <input type="text" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Enter Target Title"
                  name="target_title" style="width: 300px;">
            
              </div>
  
            </div>
  
  
  
  
            <div class="row mt-2">
  
              <div class="d-flex flex-column  fv-row ">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-7 fw-semibold ">
                  <span class="required"> Attach member infromation</span>
  
                 
                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                  
                   
                    </i>
                </label>
                <!--end::Label-->
  
                <div class="d-flex mt-2">
                  <input type="file" class=" form-control form-control-sm form-control-solid" placeholder="Enter Target Title" name="target_title" style="width: 300px;">
                  <button class="btn btn-primary btn-sm ms-2" type="button">Browse</button>
                </div>
      
            
              </div>     
            </div>
  
  
            
            <div class="row mt-2">
              <div class="d-flex flex-column  fv-row ">
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-7 fw-semibold ">
                  <span class="required"> Import file</span>
  
                 
                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                    </i>
                </label>
         
  
                <div class="d-flex">
                  <input type="file" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Enter Target Title" name="target_title" style="width: 300px;">
                  <button class="btn btn-primary btn-sm ms-2" type="button">Browse</button>
                </div>
      
            
              </div>
  
  
            </div>
  
  
  
  
        
  
  
  
          </div>
  
  
          <!-- begin::Body -->
          <div class="card-body p-3">
            <!-- begin::Table container -->
            <div class="table-responsive table-bordered p-1  " style="height: 400px !important;  border: 1px solid #dee2e6;">
              <!-- begin::Table -->
              <table class="table  table-bordered  align-middle">
                <!-- begin::Table head -->
                <thead>
                  <tr class="fw-bolder text-muted bg-light">
                    <th class=""></th>
                    <th class="min-w-125px">Member Code</th>
                    <th class="min-w-125px">Member Name</th>
                    <th class="min-w-200px">Father Name </th>
                    <th class="min-w-150px">CNIC</th>
                    <th class="min-w-150px">Department</th>
                    <th class="min-w-150px">Designation</th>
                    <th class="min-w-150px">Date of Joining</th>
                    <th class="min-w-150px">NTN</th>
                    <th class="min-w-150px">EmailID</th>
                    <th class="min-w-150px">Date Of LE</th>
                    <th class="min-w-150px">Opt Output</th>
                    <th class="min-w-150px">Member Ship</th>
                    <th class="min-w-150px">Nomination</th>
                    <th class="min-w-150px">Zakat</th>
                    <th class="min-w-150px">Member Ty</th>
  
  
  
                  </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody >
                  <tr>
                    <td>
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                        class="svg-icon svg-icon-3"></span>
                    </td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="#45265" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Shahzaib" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Siraj" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="420665652366" /></td>
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrjprohgramer@gmsil,oc" /></td>
  
  
                    <td><input type="date" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="24/5/2023" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="dgdsg" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td>
                      <input type="checkbox" class="form-check-input rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
  
  
                  </tr>
  
  
  
  
  
  
  
                  <tr>
                    <td>
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                        class="svg-icon svg-icon-3"></span>
                    </td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="#45265" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Shahzaib" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Siraj" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="420665652366" /></td>
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrjprohgramer@gmsil,oc" /></td>
  
  
                    <td><input type="date" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="24/5/2023" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="dgdsg" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td>
                      <input type="checkbox" class="form-check-input rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
  
  
                  </tr>
  
  
  
  
  
  
                  <tr>
                    <td>
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                        class="svg-icon svg-icon-3"></span>
                    </td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="#45265" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Shahzaib" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Siraj" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="420665652366" /></td>
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrjprohgramer@gmsil,oc" /></td>
  
  
                    <td><input type="date" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="24/5/2023" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="dgdsg" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td>
                      <input type="checkbox" class="form-check-input rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
  
  
                  </tr>
  
  
  
  
                  <tr>
                    <td>
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                        class="svg-icon svg-icon-3"></span>
                    </td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="#45265" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Shahzaib" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Siraj" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="420665652366" /></td>
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrjprohgramer@gmsil,oc" /></td>
  
  
                    <td><input type="date" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="24/5/2023" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="dgdsg" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td>
                      <input type="checkbox" class="form-check-input rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
  
  
                  </tr>
  
  
  
  
                  <tr>
                    <td>
                      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                        class="svg-icon svg-icon-3"></span>
                    </td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="#45265" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Shahzaib" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="Siraj" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="420665652366" /></td>
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrjprohgramer@gmsil,oc" /></td>
  
  
                    <td><input type="date" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="24/5/2023" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="dgdsg" /></td>
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="fgdsf" /></td>
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
                    <td>
                      <input type="checkbox" class="form-check-input  rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td>
                      <input type="checkbox" class="form-check-input rounded-0" id="companyCheckbox" name="company"
                        value="dgdsg" />
                    </td>
  
  
  
                    <td><input type="name" class="form-control form-control-sm form-control-solid rounded-0"
                        placeholder="Company name" name="company" value="sbrj" /></td>
  
  
  
                  </tr>
  
  
                </tbody>
                <!-- end::Table body -->
              </table>
              <!-- end::Table -->
            </div>
            <!-- end::Table container -->
          </div>
          <!-- begin::Body -->
  
  
  
  
  
  
  
  
  
        </div>
  
        <div class="mb-5">
          <button type="button" class="btn btn-primary ms-12" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">Save</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
  
  
  
          <button type="button" class="btn btn-danger ms-1" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">CLose</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
        </div>
  
  
  
  
      </form>
    </div>
  
  
  
  </div>