<div class="card mb-5 col-md-12">
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
      <h3 class="mt-10">User</h3>
    </div>
  
  
  
    <div id="kt_account_profile_details" class="collapse show">
      <form novalidate="" class="form">
  
        <div class="row card-body border-top p-9">
  
  
          <div class="col-md-4">
  
  
            <div class="main">
          
  
           
    
    
              <div class="row  ">
    
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">User Name</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                    
                     
                      </i>
                  </label>
                  <!--end::Label-->
    
                  <div class="d-flex mt-2">
                    <input type="name" class=" form-control form-control-sm form-control-solid" placeholder="Enter UserName" name="target_title" style="width: 300px;">
                  
                  </div>
        
              
                </div>     
              </div>
    
    
              
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Password</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="password" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Password" name="target_title" style="width: 300px;">
                   
                  </div>
        
              
                </div>
    
    
              </div>
  
  
              <div class="row mt-2">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required">Name</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input type="number" class="col-md-6 form-control form-control-sm form-control-solid" placeholder="Name" name="target_title" style="width: 300px;">
                   
                  </div>
        
              
                </div>
    
    
              </div>
  
  
  
                <div class="row mt-5 ">
                  <div class="d-flex align-items-center fs-7 fw-semibold">
                    <div class="form-check ms-1">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Admin
                      </label>
                    </div>
                    <div class="form-check ms-1">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Client
                      </label>
                    </div>
                  </div>
  
                </div>
  
  
              
              <div class="row mt-4">
                <div class="d-flex flex-column  fv-row ">
                  <!--begin::Label-->
                  <label class="d-flex align-items-center fs-7 fw-semibold ">
                    <span class="required"> Default Branch</span>
    
                   
                      <i class="ki-duotone ki-information-5 text-gray-500 fs-6">              
                      </i>
                  </label>
           
    
                  <div class="d-flex">
                    <input
                  class="form-check-input mt-1 "
                  type="checkbox"
                  id="allowmarketing"
                />
  
                  </div>
        
              
                </div>
    
    
              </div>
    
            
  
  
  
         
    
    
    
    
    
          
    
    
    
            </div>
    
          </div>
  
  
  
         
  
     
          <div>
  
          </div>
  
  
  
  
  
  
  
        </div>
  
  
  
  
  
  
  
  
        <div class="mb-5">
          <button type="button" class="btn btn-primary ms-12" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">Save</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
  
  
  
          <button type="button" class="btn btn-danger ms-1" [disabled]="isLoading" (click)="saveSettings()">
            <ng-container *ngIf="!isLoading">CLose</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
        </div>
  
  
  
  
      </form>
    </div>
  
  
  
  </div> 